# Banco de dados
DATABASE_URL="postgresql://USUARIO:SENHA@localhost:5432/NOME_DO_BANCO"

# JWT
JWT_SECRET="sua_chave_secreta_muito_segura_aqui"
JWT_EXPIRES_IN="7d"

# Aplicação
PORT=3001
NODE_ENV=development

# Upload
UPLOAD_DEST="./uploads"
MAX_FILE_SIZE=5242880
